table, th, td, tr {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 2px 5px 2px 5px;
}

.row-data:nth-child(odd){
    background-color: #EAEAEA;
}

h2{
    background-color: #BAD2EA;
    color: #3579BD;
    padding: 2px 5px 2px 5px;
}

.flex-container {
    display: flex;
    flex-wrap: nowrap;
}

#anjg{
    max-width:20%;
}