.container {
    padding-top: 1em;
    padding-left: 1em;
    padding-bottom: 1em;
    font-weight: bold;
    box-shadow: 20px 20px 60px #bebebe,
    -20px -20px 60px #ffffff;
    border-bottom: black;
    margin-bottom: 1em;
    font-size: 2em;
}